{% extends 'bootstrap/base.html' %}

{% block metas %}
    <meta name="description" content="Pyrus Medical is an early stage startup whose mission is to deliver simple, safe, endovascular care...anywhere." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name"robots" content="index,follow" />
    <meta name="keywords" content="pyrus,medical,vr,ar,cloud,cloud services,telerobotics,remote,endovascular,electrophysiology,interventional radiology" />
{% endblock %}

{% block title %}- Pyrus Medical{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default sticky-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Pyrus Inc.</a> 
            </div>
        </div>
    </nav>
{% endblock %}

{%- block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{%- endblock content %}

