{% extends "base.html" %}

{% block styles %}
    {{super()}}
    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "index_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block app_content %}
    <div class="row logo-container">
        <div class="col-12">
            <img class="pyrus-logo-square-hollow" src="static/images/logos/pyrus-logo-square-hollow.png"></img>
        </div>
    </div>

    <div class="row tagline-container">
        <div class="col-12">
            <h1>Simple, safe, endovascular care</h1>
            <h1 class="anywhere">anywhere</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2><a href="mailto:info@pyrusmedical.com">info@pyrusmedical.com</a></h2>
        </div>
    </div>
{% endblock %}
